body{
  background-image: url("img/ny4.jpg");
  background-attachment: fixed ;
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  width: 300px;
  min-width: 300px;
  border-radius:20px;
  margin: 15px 15px;
  padding-left: 30px;
}

.masthead {
  padding-top: 10rem;
  padding-bottom: 16.5rem;
  background-image: url("img/sunset.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
  width:100%;
  padding-left: 50px;
}

#portfolioPic {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  padding:1px;
  border:1.5px solid rgb(255, 255, 255, 0.4);
  background-color: white;
}  

#greeting, #about, .overlay {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.overlay  span {
  color: white;
  font-size: 20px;
}

a:hover {
  font-weight: bold;
}

#greeting {
  text-shadow: black 0px 0px 15px;
}

#about{
  background-color: #2d3436;
  width: 100%;
  height: 700px !important;
  position: relative;
  color: white;
  text-shadow: black 0px 0px 5px;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #171717;
}

.carousel-caption > h5 {
  text-shadow: black 0px 0px 5px;
  font-weight: bold;
  font-size: 30px;
}

#abouthr {
  max-width: 50px;
  border-width: 3px;
  border-color: #ffffff;
}

 #about, #contact {
  background: rgba(0, 0, 0, .3);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 600px; 
}

#contact {
  height:400px;
}

#about-skills {
  font-size: 15px !important;
  padding-top: 20px;
  text-align: center;
}


.overlay {
  background:rgba(0, 0, 0, 0.8);
  position: relative;
  height:100%;
  width:100%;
}

.black-filter {
  background: rgba(0, 0, 0, 0.7);
  height:100%;
}

.white-filter {
  background: rgba(110, 106, 106, 0.2);
  height:100%;
}

.carousel {
  box-shadow: 2px 4px 8px 2px rgba(255, 255, 255, 0.2), 10px 6px 20px 10px rgba(255, 255, 255, 0.19);
}

.carousel-caption {
  padding-bottom: 200px; 
  margin: auto;
  border-radius: 25px;
}

.blur-filter {
  background: rgba(0,0,0,.4);
  overflow: hidden;
  filter: blur(13px);
  position: absolute;
  height: 300px;
  left: -50px;
  right: -50px;
  bottom: 70px;
}  
.blur-background {
  opacity: .5;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  overflow: hidden;
  filter: blur(2px);
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;

}  

#modalBtn {
  height: 40px;
  width: 100px;
  font-size: 10px;
  border-radius: 25px;
  background-color: rgba(22, 22, 22, 0.8) !important;
  opacity: .8;
  white-space:nowrap;
  padding: 0px;
}

#modalBtn:hover {
  background-color: rgb(22, 22, 22) !important;
  border-radius: 30px;
  transition: ease-in .2s;
  opacity: .9;
}

.modal {
  overflow-y: auto;
}

.modal-open{
  margin-right:0px !important;
  overflow-y: hidden !important;
}
.modal-image {
  border: white solid 1px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-dialog{
  overflow-y: auto !important;
}
.modal-body{
  overflow-y: auto;
  height: 800px;
}

#MovieNerdzModal .modal-header, #MovieNerdzModal .modal-body, #MovieNerdzModal .modal-footer{
  background: rgb(0,0,0) ;
  background: linear-gradient(167deg, rgba(0,0,0,1) 24%, rgba(217,217,217,1) 76%); 
}
#BloomModal .modal-header, #BloomModal .modal-body, #BloomModal .modal-footer{
  background: rgb(104,235,156);
  background: linear-gradient(131deg, rgba(104,235,156,1) 30%, rgba(255,255,255,1) 58%);
}
#FoodJunkiesModal .modal-header, #FoodJunkiesModal .modal-body, #FoodJunkiesModal .modal-footer{
  background: rgb(85,195,156);
  background: linear-gradient(131deg, rgb(112, 218, 181) 20%, rgb(255, 189, 102) 58%, rgba(255,255,255,1) 89%);
}
#FictModal .modal-header, #FictModal .modal-body, #FictModal .modal-footer{
  background: rgb(0,0,0);
  background: linear-gradient(131deg, rgb(77, 183, 224) 24%, rgba(217,217,217,1) 66%); 
}
.modal-footer, .modal-header {
  background: rgb(0,0,0) ;
  background: linear-gradient(167deg, rgba(0,0,0,1) 24%, rgba(217,217,217,1) 76%) ; 
}
.modal-info {
  background:black;
}
.modal-text {
  font-size: 20px;
  text-align: center;
  text-shadow: white 0px 0px 15px;
  background: rgba(255, 255, 255, .5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;

}
.cute-gradient {
  background: rgb(187,101,101);
  background: linear-gradient(117deg, rgba(187,101,101,1) 8%, rgba(202,233,233,1) 60%, rgba(255,255,255,1) 100%);
}
.melon-gradient {
  background: rgb(104,235,156);
  background: linear-gradient(131deg, rgba(104,235,156,1) 13%, rgba(255,255,255,1) 58%, rgba(78,219,98,1) 90%);
}
.sky-gradient {
  background: rgb(0,0,0);
  background: linear-gradient(167deg, rgb(22, 162, 218) 24%, rgba(217,217,217,1) 66%);
}
.blur-background{
  height: 1000px;
  overflow-y: auto;
 
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
#leftArrow, #rightArrow {
  filter: brightness(0) invert(1) grayscale(90%);
 
}
#leftArrow:hover, #rightArrow:hover {
  background-color: rgb(0, 0, 0,.3);
  border-radius:30%;
}



.header {
  display: inline-block;
  text-align: center;
}

.right-text {
  padding-top: 5px;
}

.shift-right {
  padding-left: 50px;
}

.shift-left {
  padding-right: 200px;
}

.active {
  background-color: rgba(0, 0, 0, 0.0);
  font-weight: bold;
}

a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top:-80px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Create three equal columns that floats next to each other */
.column-left{
  float: left;
  width: 30%;
  padding: 10px;
  padding-left: 200px;
  padding-top: 15px;
}
.column-right {
  float: left;
  width: 30%;
  padding: 10px;
  padding-right: 250px;
  padding-top: 13px;
}
.column-mid {
  float: left;
  width: 40%;
  padding: 10px;
}

.icon {
  background:white; 
  border:white; 
  border-style:solid; 
  border-width: 1px; 
  border-radius: 5px; 
  height:40px;
 
}

.contact-info {
  padding-top:50px; 
  margin:auto; 
  padding-right: 50px;
  width: 90%;
}

.icon-link2:hover {
  height: 60px !important;
  transition-duration:.3s;
}
.icon-link1:hover {
  height: 45px !important;
  transition-duration:.3s;
}

.scrollbar
{
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

#wrapper {
    text-align: center;
    width: 500px;
    margin: auto;
}
::-webkit-scrollbarx {
  width: 15px;
  border: solid white;
}

/* Track */
::-webkit-scrollbar-trackx {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumbx {
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 81%);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumbx:hover {
  background: rgb(223, 223, 223);
  background: linear-gradient(0deg, rgb(224, 224, 224) 0%, rgba(0,0,0,1) 81%);
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #about h3, #about h4 {
      font-size: 20px !important;
    }
    #about p {
      font-size: 15px !important;
    }
    .row {
      white-space: nowrap;
      overflow: hidden;
    }
    .column-right {
      padding-left: 50px !important;
    }
    .column-left {
      padding-top: 15px;
    }
    #bootcamp-date {
      padding-left: 25px !important;
    }
    #programming {
      padding-left: 9px;
    }
}

